/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #555;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #666;
}

.work {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #333;
    border-radius: 5px;
}

.work h2 {
    font-size: 1.5em;
    color: #333;
}

.work p {
    font-size: 1em;
    color: #555;
}

.source {
    text-align: center;
    margin-top: 20px;
}

.source a {
    margin: 0 10px;
    display: inline-block;
}

.source img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.source img:hover {
    transform: scale(1.1);
}
#title{
    display: flex;
    justify-content: center;
}